<div id="main-container">
	<div id="main" role="main">
		<div class="row">
			<div class="span12 info_box">
				<h4>Änderungsanträge des Ausschusses für Bürgerliche Freiheiten, Justiz und Inneres (LIBE)</h4>
			</div>
		</div>
		<div class="row">
			<div class="span12">
				<section class="info">
					Hier siehst Du eine Übersicht über die Änderungsanträge für eine neue Datenschutzverordnung.
					Du kannst durch die Anträge scrollen um zu sehen, welche Anträge zur Änderung von Abschnitten der Verordnung sich für oder gegen einen höheren Datenschutz aussprechen und welche Fraktionen diese eingebracht haben.
				</section>
			</div>
		</div>
		<div class="row">
			<div class="span12">
				<table class="articles table">
					<tr>
						<th>Antrag Nr#</th>
						<th>Bewertung</th>
						<th>Direktive</th>
						<th>Autoren</th>
					</tr>
					{{#data}}{{#classified}}
						<tr>
							<td><a href="/map/discuss/libe/{{amend.number}}">LIBE #{{amend.number}}</a></td>
							<td class="medium_textsize text_{{vote}}">{{vote}}</td>
							<td class="medium_textsize">{{amend.directive}}</td>
							<td class="medium_textsize">
								{{#amend}}
									{{#meps}}
										<div>
											<a class="mep_name_link" href="/map/meps/{{id}}">{{name}}</a>
											<a href="/map/countries/{{country_obj.id}}"><img title="{{country_obj.name}}" alt="{{country_obj.name}}" src="/assets/img/flags/20x15/{{country_obj.iso}}.png"/></a>
											<a href="/map/groups/{{group_obj.id}}"><span class="label label-info label-group-{{group_obj.id}}" title="{{group_obj.long}} - {{constituency_obj.long}}">{{group_obj.short}}</span></a>
										</div>
									{{/meps}}
								{{/amend}}
							</td>
						</tr>
					{{/classified}}{{/data}}
				</table>
			</div>
		</div>
	</div>
</div>
