<div id="main-container">
	<div id="main" role="main">
		<div class="row">
			<div class="span12 info_box">
				<h4>Artikel</h4>
			</div>
		</div>
		<div class="row">
			<div class="span12">
				<section class="info">
					Hier siehst Du eine Übersicht über den Entwurf einer neuen EU-Datenschutzverordnung.
					Du kannst durch die Abschnitte scrollen um zu sehen, welche Änderungsanträge sich für oder gegen einen höheren Datenschutz aussprechen und welche Fraktionen diese eingebracht haben.
				</section>
			</div>
		</div>
		<div class="row">
			<div class="span12">
				<table class="articles table">
					{{#data}}{{#articles}}
						<tr>
							<td class="articles_col1"><a href="/map/article/{{nr}}">{{directive}}</a></td>
							<td class="articles_col2 medium_textsize">{{topic}}</td>
							<td class="articles_col3">{{#overview}}
								<div class="mep_bar_bar pull-right">
									<div class="lobbyplag bar" data-lobbyplag='{"pro": {{pro}}, "contra": {{contra}}, "neutral": {{neutral}}}'>
									</div>
								</div>
							{{/overview}}
							</td>
						</tr>
					{{/articles}}{{/data}}
				</table>
			</div>
		</div>
	</div>
</div>
