<div id="main-container">
	<div id="main" role="main">
		<div class="btn_email">
			<a class="btn btn-primary btn-small" href="#" onclick="sendEmails(this)">Keine Parameter</a>
			<a class="btn btn-primary btn-small" lobbyplag-data="?lang=de" href="#" onclick="sendEmails(this)">Deutsch</a>
			<a class="btn btn-primary btn-small" lobbyplag-data="?lang=en" href="#" onclick="sendEmails(this)">Englisch</a>
			<a class="btn btn-primary btn-small" lobbyplag-data="?gov=1" href="#" onclick="sendEmails(this)">An die Regierung</a>
			<a class="btn btn-primary btn-small" lobbyplag-data="?ia=1" href="#" onclick="sendEmails(this)">LIBE</a>
			<br/>
			{{#params}}
				<a class="btn btn-primary btn-small" lobbyplag-data="{{.}}" href="#" onclick="sendEmails(this)">{{.}}</a>
			{{/params}}
		</div>
	</div>
</div>