<div id="main-container">
	<div id="main" role="main" class="walloftext">
		<h4>Wie können Änderungsantäge neutral und objektiv beurteult werden?</h4>
		<p>Als wir mit der Analyse der mehr als 3100 Änderungsanträge begannen, kam die Frage auf, wie wir die zahllosen politischen Entscheidungen in einer Statistik zusammenfassen können. Es gibt dazu keine einzig richtige Methodik – daher mussten wir eine entwickeln, die so klar und transparent wie möglich ist.</p>
		<p>Wir kamen überein, jeden Änderungsantrag einzeln auszuwerten: Führt die Änderung zu einem stärkeren oder schwächeren Datenschutz? Die meißten Änderungen können recht einfach kategorisiert werden. Wenn die Auswirkungen eines Antrages unklar sind oder das Niveau des Schutzes gleich bleibt, haben wir sie als neutral eingeordnet. Die Berechnung der Gesamtwirkung eines Abgeordneten folgt einer einfachen Formel: Wenn ein Abgeordneter 45 Vorschläge für einen stärkeren, und 30 Vorschläge für einen Schwächeren Datenschutz eingebracht hat, beträgt die Endsumme 15.</p>
		<p>Selbsverständlich hat dieser Ansatz auch Schwächen (siehe unten).</p>
		<br/>
		<h4>Unsere Bewertungskriterien:</h4>
		<p>Zur vollständigen Transparenz möchten wir offen über unsere Kriterien sein und diese Erklären. Jeder sollte fähig sein, die gesammelten Änderungen selbst zu bewerten.</p>
		<br/>
		<ul>
			<li>Grundlage sind die 3113 Änderungsanträche des LIBE Ausschusses zur EU Datenschutz-Grundverordnung. Derzeit nicht eingeschlossen sind Änderungen zu den Abschnitten 5-7 die internationalen Datenverkehr und Verwaltung betreffen, da dieser eine geringere Relevanz als die anderen Abschnitte haben.</li>
			<li>Wir haben jede einzelne Änderung durchgesehen, unabhängig von Länge und Einfluss da es unmöglich ist, die politische Wirkmächtigkeit jedes Änderungsantrages objektiv zu beurteilen.</li>
			<li>Der Urheber jeder Änderung ist den offiziellen Dokumenten entnommen. Haben mehrere Abgeordnete einen Änderungsantrag eingebracht, wird dieser allen Abgeordneten zugeschieben.</li>
			<li>Unsere Beurteilung basiert auf der generellen Einschätzung, ob der Datenschutz eines durchschnittlichen Anwenders gestärkt oder geschwächt wird.</li>
			<li>Maßgabe ist die rechtliche Situation eines durchschnittlichen Bürgers im Vergleich zum Entwurf der EU-Komission vom Januar 2012</li>
			<li>Die folgenden Änderungen wurden daher als datenschutzschwächend beurteilt:
				<ul>
					<li>Einschränkun der Regeln für Firmen.</li>
					<li>Ausnahmen von Regeln für Firmen.</li>
					<li>Neue Freigaben für zusätzliche Datenverarbeitung.</li>
					<li>Höhere Schwellen für das Eintreten von Verpflichtungen von Firmen.</li>
					<li>Mehrdeutigkeiten oder Alternativkonzepte die inheränt unklar oder vage sind.</li>
					<li>Ausnahmen von Pflichten für Firmen, wenn diese Konsequenzen für die Rechte von Datensubjekten haben.</li>
					<li>Vereinfachung des Datenaustausches mit Ländern außerhalb der EU.</li>
				</ul>
			</li>
			<li>Die folgenden Änderungen wurden daher als datenschutzstärkend beurteilt:
				<ul>
					<li>Regelerweiterungen die eine größere Anzahl an Menschen erfassen.</li>
					<li>Streichung von Ausnahmen für Firmen.</li>
					<li>Streichung von Legitimationsgründen für Datenverarbeitung.</li>
					<li>Niedrigere Schwellen für das Eintreten von Verpflichtungen von Firmen.</li>
					<li>Klarere Ausdrücke und Alternativkonzepte die mehr Rechte für Anwender bedeuten.</li>
					<li>Einführeung neuer Regelm, Pflichten oder Prozeduren für Firmen, wenn diese Konsequenzen für die Rechte von Datensubjekten haben.</li>
					<li>Einschränkung des Datenaustausches mit Ländern außerhalb der EU.</li>
				</ul>
			</li>
			<li>Änderungen, denen keine klare Tendenz zugeordnet werrden konnte, wurden als "neutral" eingeordnet.</li>
		</ul>
		<br/>
		<h4>Auswertungsprozedur</h4>
		<ul>
			<li>Der auswertenden Person wurde nich angezeigt, welcher Abgeordnete die Änderung eingebracht hatte.</li>
			<li>Nur wenn eine Änderung nicht selbständig bewertet werden konnte, durften Begründung und Änderungsanträge des selben Abgeordneten eingesehen vom Auswertenden werden.</li>
			<li>Änderungen die sich auf deligierte Rechtsakte der Komission beziehen, wurden generell als "neutral" eingestuft, da diese Datenschutz per se weder stärken noch schwächen.</li>
			<li>Beurteilungen verschiedner Auswertender wurden verglichen, wenn diese widersprüchlich waren, wurden diese erneut bewertet um einen Konsens zu erzielen.</li>
		</ul>
		<br/>
		<h4>Vergleich mit Papieren von Datenschutz-NGOs:</h4>
		<p>
			Die Ergebnisse von LobbyPlag wurden abermals mit Papieren verschiedener Datenschutz-NGOs verglichen. Abweichende Ergebnisse wurden erneut überprüft, jedoch immer im Hinblick auf unsere eigenen oben genannten Kriterien.
		</p>
		<br/>
		<h4>Schwächen unserer Methodik</h4>
		<p></p>
		<p>Selbstverständlich hat unsere Ansatz auch Schwächen, über die wir offen sein möchten:</p>
		<ul>
			<li>Es gib keine Einheit in der mehr oder weniger Datenschutz gemessen werden kann. Wir haben daher die Anzahl der Änderungen gezählt. Daher hat eine kleine Änderung das selbe Gewicht wie eine große Änderung. Die einzige Alternative wäre Eine Bewertung darüber gewesen, wie sehr eine Änderung den Datenschutz beeinflusst, was nicht objektiv erfolgen kann. Insbesondere wenn Abgeordnete viele Änderungsanträge eingebracht haben, gleicht dies jenes Problem aus.</li>
			<li>Nicht jede Einschränkung des Rechtes aus Privatsphäre ist schlecht, nicht jedes zusätzliche Recht ist gut. Als Beispiel: Wenn Gewerkschaften das Recht erhalten, sich über Datenberarbeitung mit den Arbeitgebern abzustimmen, halten wir dies für gut. Dennoch bedeutet dies einen weiteren Grund aus dem Daten verarbeitet werden können. Daher wurden derartige Änderungen unseren oben erklärten Kriterien zu folge als datenschutzschwächend eingeordnet.</li>
			<li>Bei mehr als 3100 Änderungsanträgen können immer Fehler passieren. Jemand kann auf den falschen Knopf drücken oder etwas falsch verstehen. Nach Durchsicht unserer Ergebnisse sind wir sicher, dass unsere Fehlerrate bei nicht mehr als 2-3% liegt. Falls ein Fehler gefunden wird, kann dieser uns mitteld des Report-Knopfes zu jedem Änderungsantrag gemeldet werden. Wir hoffen dass uns dies eine stetige Verbesserung unserer Daten und Ergebnisse für noch mehr Änderungsanträge bringt.</li>
		</ul>
		<br/>
	</div>
</div>