<div id="main-container">
	<div id="main" role="main">
		{{#data}}{{#europe}}
			<div class="row">
				<div class="span6 info_box">
					<h4>Länderübersicht</h4>

					<div class="mep_map vector_map_frontpage">
						{{#overview_countries}}{{>partial_map}}{{/overview_countries}}
					</div>
				</div>
				<div class="span6 info_box">
					<div>
						<h4>Übersicht EU-Parlament</h4>

						<div class="mep_bar mep_bar_frontpage">
							<div class="mep_bar_name">All</div>
							<div class="mep_bar_bar">
								{{#overview}}
									<div class="lobbyplag bar" data-lobbyplag='{"pro": {{pro}}, "contra": {{contra}}, "neutral": {{neutral}}}'></div>
								{{/overview}}
							</div>
							<div class="mep_bar_btn"><a href="/map/countries" class="btn btn-small">Mehr</a></div>
						</div>
					</div>
					<div class="mep_bars_frontpage">
						<h4>Gruppen</h4>

						<div class="mep_bars">
							{{#groups_overviews}}{{>partial_group_bar}}{{/groups_overviews}}
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="span12">
					<section class="info">
						Derzeit berät die EU über neue Regeln für den Datenschutz. Die so genannte Datenschutz-Grundverordnung soll alle vorhandenen nationalen Regeln ersetzen. Hier kannst Du sehen, welche Abgeordneten im Europaparlament sich für und gegen die Stärkung der Privatsphäre einsetzen. Wähle ein Land oder eine Partei aus den Top 10 und klicke auf die Bilder der Abgeordneten, um die Details zu erfahren.
					</section>
				</div>
			</div>
			<div class="row">
				<div class="span6 info_box border_weaker">
					<h4 class="background_weaker info_box_head">Top {{flops.length}} für weniger Privatsphäre in Europa</h4>

					<div class="flop_box">{{#flops}}{{>partial_mep_line}}{{/flops}}</div>
				</div>
				<div class="span6 info_box border_stronger">
					<h4 class="background_stronger info_box_head">Top {{tops.length}} Für mehr  Privatsphäre in Europa</h4>

					<div class="top_box">{{#tops}}{{>partial_mep_line}}{{/tops}}</div>
				</div>
			</div>
		{{/europe}}{{/data}}
	</div>
</div>
