<div class="overview_text">
	Änderungsvorschläge: {{getTotal}}<br/>
	<span class="legend text_stronger">...stärker: {{pro}}</span><br/>
	<span class="legend text_weaker">...schwächer: {{contra}}</span><br/>
	<span class="legend text_neutral">...neutral: {{neutral}}</span><br/>
</div>
